.mainContent {
  flex: 1;
  padding: 0;
}

.customContainer {
  width: 100%;
  max-width: 100%;
}
  

.featureRow {
  background-color: #ffffff;
  max-width: 1140px;
  margin: auto;
  padding: 15px;
}
  
.carousel {
  padding: 0;
  margin: 0;
  width: 100vw;
}  

.carouselImage {
  object-fit: cover;
  width: 100%;
  height: 70vh;
  max-height: 70vh;
}

.carouselCaption {
  top: 20%;
  bottom: auto;
  text-align: center;
  color: #fff;
}

.cardContainer {
  margin: 20px;
}
  
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.cardIcon {
  color: #6c757d;
  transition: color 0.3s;
}

.card:hover .cardIcon {
  color: #0d6efd;
}

.masonrySection {
    background-color: #f2f2f2;
    display: flex;
    align-items: stretch;
    height: 50vh;
    overflow: hidden;
  }
  
  .masonry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Elige el espaciado que prefieras */
  }
  
  .masonryItem {
    overflow: hidden;
    position: relative;
  }
  
  .masonryImage {
    width: 100%;
    height: calc((65vh) / 3);
    object-fit: cover;
    transition: all 0.3s ease;
  }
  
  .masonryItem:hover .masonryImage {
    transform: scale(1.1);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  }
  
  .galleryCol {
    position: relative;
  }
  
  .galleryImage {
    height: 100%;
    object-fit: cover;
    max-height: 100vh;
  }
  
  .galleryButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;  /* Aumentamos el z-index para asegurar que el botón esté por encima de la imagen */
    animation: pulse 2s infinite;
    border-radius: 0;
  }

  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .contactSection {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/contact.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: #5b5959;
    padding: 15px;
  }
  
  .contactBox {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contactBox textarea {
    max-height: 130px;
    min-height: 70px; /* Ajusta según tus necesidades */
  }
  
  @media (max-width: 768px) {
    .masonry {
      display: none;
    }
  
    .galleryImage {
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .customContainer {
      padding: 0;
      margin: 0;
    }
    
    .carouselImage {
      max-height: 50vh;
    }
  
    .cardContainer {
      margin: 10px;
    }
  
    .contactBox {
      margin: 10px;
    }
  }  



